<form id="editProfileForm" class="span8" method="post" ng-submit="addGrade()">
    <!--<div ng-if="result != null">
        <label>Đã thêm mới:</label>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Mã khối</th>
                <th>Tên khối</th>
                <th>Số tiết buổi chiều</th>
            </tr>
            </thead>
            <tbody >
            <th class="row">1</th>
            <td>{{result.gradeId}}</td>
            <td>{{result.gradeName}}</td>
            <td>{{result.lectureNumber}}</td>
            </tbody>
        </table>
    </div>-->
    <div class="row">
        <label class="span2">Mã khối</label>
        <input type="text" class="span4" name="gradeId" required="required" ng-model="inputGrade.gradeId">
    </div>
    <div class="row">
        <label class="span2">Tên khối</label>
        <input type="text" class="span4" name="gradeName" required="required" ng-model="inputGrade.gradeName">
    </div>
    <div class="row">
        <label class="span2">Số tiết buổi chiều</label>
        <input type="text" class="span4" name="lectureHours" required="required" ng-model="inputGrade.lectureNumber">
    </div>
    <div class="row">
        <label class="span2"></label>
        <input type="submit" class="span2 btn" value="Thêm">
        <!--<a class="span2 btn" href="#/grades">Hủy</a>-->
        <input type="reset" class="span2 btn" value="Hủy">
    </div>
</form>


<div class="panel panel-default">
    <!--<div class="panel-heading">
        <input type="button" class="span2 btn" value="Thêm mới" onclick="javascript:document.location = '#/add-new-grade'">
        <input type="button" class="span2 btn" value="Sửa" onclick="javascript:document.location = '#/add-new-grade'" ng-show="editButtonDisplay">

    </div>-->
    <div class="panel-body">
        <table class="table table-striped table-bordered" ng-init="initDisplayListGrades()">
            <thead>
            <tr>
                <th class="span1">#</th>

                <th>Mã khối</th>
                <th>Tên khối</th>
                <th>Số tiết buổi chiều</th>
            </tr>
            </thead>
            <tr ng-repeat="grade in lstGrades track by $index" ng-click="detailGrade(grade)">
                <th class="row">{{$index + 1}}</th>
                <td>{{grade.gradeId}}</td>
                <td>{{grade.gradeName}}</td>
                <td>{{grade.lectureNumber}}</td>
            </tr>
        </table>
    </div>
</div>