
<div class="ui masthead vertical segment">
    <div class="ui container">
        <div class="introduction">

            <h1 class="ui header">
                {{resourceBundle.grade}}
                <div class="sub header">
                    {{resourceBundle.list}}
                </div>
            </h1>
        </div>
    </div>
</div>
<div class="main ui intro container">

    <div class="ui icon input">
        <input type="text" placeholder="Tìm kiếm...">
        <i class="search icon"></i>
    </div>

    <table class="ui celled table" ng-init="filter()">
        <thead>
        <tr>
            <th class="span1">#</th>
            <th>Mã khối</th>
            <th>Tên khối</th>
            <th>Số tiết buổi chiều</th>
            <th>Cập nhật/Xóa</th>
        </tr>
        </thead>
        <tr ng-repeat="grade in lstGrades track by $index">
            <th class="row">{{$index + 1}}</th>
            <td>{{grade.gradeId}}</td>
            <td>{{grade.gradeName}}</td>
            <td>{{grade.lectureNumber}}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="ui button" ng-click="remove(grade)">Xóa</button>
                </div>
        </tr>
    </table>
<!--<div id="editProfileForm" style="width: 50%">
<form class="ui form" method="post" ng-submit="save()">
    <div class="field">
        <input type="hidden" name="id" ng-model="inputGrade.grade.id" />
        <input type="hidden" name="action" ng-model="inputGrade.action" ng-value="ADD" />
        <label>{{resourceBundle.gradeId}}</label>
        <input type="text" class="span4" name="gradeId" required="required" ng-model="inputGrade.grade.gradeId">
    </div>
    <div class="field">
        <label>{{resourceBundle.gradeName}}</label>
        <input type="text" class="span4" name="gradeName" required="required" ng-model="inputGrade.grade.gradeName">
    </div>
    <div class="field">
        <label>{{resourceBundle.lectureNumber}}</label>
        <input type="number" min="1" class="span4" name="lectureHours" required="required" ng-model="inputGrade.grade.lectureNumber">
    </div>

    <input type="submit" class="ui primary button" value="Lưu" id="gradePrimaryButton">
    <input type="reset" class="ui button" value="Hủy">
</form>-->

</div>